<h1>Tweets</h1>
<%=link_to "New Tweet", new_tweet_path %>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>email address</th>
			<th>tweet</th>
			<th> &nbsp; </th>
		</tr>
	</thead>
	<tbody>
<% @tweets.each do |tweet| %>
    <tr>
   <td> <%= link_to tweet.user.email, user_path(tweet.user) %></td>
    <td><%= tweet.body %></td>
    <td> <%= link_to 'Permalink', tweet_path(tweet) %> </td>
  </tr>
<% end %>
</tbody>
</table>