<h1><%= @user.email %></h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>email address</th>
			<th>tweet</th>
		</tr>
	</thead>
	<tbody>
<% @user.tweets.each do |tweet| %>
  <tr>
   <td> <%= link_to tweet.user.email, user_path(tweet.user) %></td>
    <td><%= tweet.body %></td>
  </tr>
<% end %>
</tbody>
</table>